**/bin/
**/obj/
**/out/
**/TestResults/
**/.vs/
**/.vscode/
**/.git/
**/.gitignore
**/*.md
**/docker-compose*
**/Dockerfile*
**/.dockerignore
**/node_modules/
**/npm-debug.log
**/appsettings.Development.json
**/secrets.json
**/.env
**/logs/
